{% extends 'home/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/style-story3.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Story3 - About Me</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">
  <h1>CR</h1>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/story_3/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/story_3/activities">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/story_3/my_project">My Project</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/story_3/about_me">About Me<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="d-lg-flex flex-lg-row my-container-1">
  
  <div class="d-flex flex-column">
      <div class="p-2 my-photo"> Radit</div>
      <div class="d-flex flex-row justify-content-center">
        <a href="https://www.facebook.com/raditya.restan/" target="_blank">
          <div class="p-2 medsos-1"></div>
        </a>
        <a href="https://www.linkedin.com/in/raditya-restanto/" target="_blank">
          <div class="p-2 medsos-2"></div>
        </a>
        <a href="mailto: christian.raditya@ui.ac.id" target="_blank">
          <div class="p-2 medsos-3"></div>
        </a>
      </div>
  </div>
  
  <div class="d-flex flex-column">
      <div class="p-2 about-me align-self-start">ABOUT ME</div>
      <div class="p-2 headline">Undergraduate Student at Computer Science UI</div>
      <div class="p-2 self-description">
          Hai! How are you today? I hope you are fine there. On this occasion, allow me to introduce myself. 
          My nickname is Radit, but you can call me anything that you want. 
          I was born in Depok, May 18th, 2001. 
          I am a student at Universitas Indonesia. 
          Let's know more about me. 
          I'm a passionate and ambitious learner when I was a child. I've always set myself goals, so it motivates me to work hard. 
          In other cases, I consider myself to be a team-player. 
          Now, I work as a BEM and RISTEK member to encourage my soft skills ability. 
          I'm open to working with anyone, please kindly contact me on the link below my photo :D.
      </div>
  </div>
</div>
{% endblock %}