{% extends 'home/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/style-story3.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Story3 - Activities</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">
  <h1>CR</h1>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/story_3/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/story_3/activities">Activities<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/story_3/my_project">My Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/story_3/about_me">About Me</a>
      </li>
    </ul>
  </div>
</nav>


<div class="d-lg-flex flex-lg-row my-container-1 justify-content-around">
  <div class="card my-card p-2" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'home/images/keilmuan.jpg' %}" alt="bem keilmuan 2020">
      <div class="card-body">
        <h5 class="card-title">BEM Fasilkom UI</h5>
        <p class="card-text">I'm currently work in the scientific department, which provides scientific talent. I'm the Person in Charge of the Internship Program and Fasillkom Road to PIMNAS.</p>
        <a href="https://bem.cs.ui.ac.id/" target="_blank" class="btn my-button">Go to Website</a>
      </div>
  </div>

  <div class="card my-card p-2" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'home/images/ristek.jpg' %}" alt="ristek">
      <div class="card-body">
        <h5 class="card-title">Ristek Fasilkom UI</h5>
        <p class="card-text">I learn about the development of mobile applications from scratch. This year, we focused on the flutter framework developed by Google.</p>
        <a href="https://ristek.cs.ui.ac.id/" target="_blank" class="btn my-button">Go to Website</a>
      </div>
  </div>

  <div class="card my-card p-2" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'home/images/teman.jpg' %}" alt="my friends">
      <div class="card-body">
        <h5 class="card-title">Friendship Activities</h5>
        <p class="card-text">
            I have 3 closest friends. 
            There are 
            <a href="https://sinuscosinustangen.gitlab.io/story3/" target="_blank">James</a>, 
            <a href="https://kevindharmawan.gitlab.io/story-3-ppw/" target="_blank">Kevin</a>, and 
            <a href="https://www.instagram.com/hara.dih/" target="_blank">Zulfahri</a>. 
            We did a lot of things together, such as playing game, studying something, watching movie, traveling, etc. </p>
      </div>
  </div>
  
</div>
{% endblock %}