{% extends 'home/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/style-story1.css' %}">
{% endblock %}

{% block title %}
<title>Story1 - Home Page</title>
{% endblock %}

{% block body %}
<div id="container1">
    <img src="{% static 'home/Raditya.jpg' %}" alt="foto Christian Raditya Restanto" id="myimage">

    <h1>Hallo,</h1>
    <h3>Pengunjung Websiteku</h3>

    <table>
      <tr>
        <td>
          <form action="https://www.linkedin.com/in/raditya-restanto/">
            <input type="submit" value="Profil" class="circle" id="circle1"/>
          </form>
        </td>
        <td>
          <form action="https://www.ui.ac.id/">
            <input type="submit" value="Pendidikan" class="circle" id="circle2" />
          </form>
        </td>
        <td>
          <form action="https://line.me/ti/p/ZrdKvxcUiv">
            <input type="submit" value="Kontak" class="circle" id="circle3" />
          </form>
        </td>
      </tr>
    </table>

    <p>
      Aku adalah orang yang mempunyai tekad kuat. Jika aku ingin mendapatkan sesuatu, aku akan mengejarnya sampai mendapatkannya.
      Selain itu, aku memiliki jiwa receh yang kuat. Aku terbiasa tertawa karena hal kecil entah karena lucu atau memang selara humorku
      yang begitu rendah. Akan tetapi, aku bersyukur karena dengan jiwa recehku terkadang bisa mencairkan suasana saat situasi tertentu.
      Cita-citaku nanti setelah lulus adalah menjadi <em>software engineer</em> di startup terkenal. Semoga ini menjadi langkah awal 
      bagiku.
    </p>
</div>

  <div class="element-container">
    <img src="{% static 'home/user.png' %}" alt="user icon" id="userandsocialmedia">
    <h3 id="element1">Profil-ku</h3>
    <p>
      Halo perkenalkan namaku Christian Raditya Restanto dengan NPM 1906292982 angkatan Maung 2019.
      Sekarang aku berkuliah di Fasilkom UI. Hobiku adalah bermain game.
    </p>
  </div>

  <div class="element-container">
    <img src="{% static 'home/education.png' %}" alt="education icon" id="education">
    <h3 id="element2">Riwayat Pendidikan</h3>
    <ol>
      <li>Sekolah Dasar Swasta Mardi Yuana Depok</li>
      <li>Sekolah Menengah Pertama Negeri 5 Depok</li>
      <li>Sekolah Menengah Atas Negeri 1 Depok</li>
    </ol>
  </div>

  <div class="element-container">
    <img src="{% static 'home/connect.png' %}" alt="connection icon" id="userandsocialmedia">
    <h3 id="element3">Social Media</h3>
    <p>Facebook: <a href="https://id-id.facebook.com/raditya.restan" target="_blank">Raditya Restan</a></p>
  </div>

{% endblock %}